name: CI-prod

on:
  push:
    branches:
      - main

env:
  TAG: "latest"
  APP_ENVIRONMENT: "prod"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Validate SSH Private Key
        run: |
          echo "${{ secrets.SSH_KEY }}" > id_key
          chmod 600 id_key
          ssh-keygen -y -f id_key > /dev/null


      - name: Copy deployment files
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.SSH_KEY }}
          source: "."
          target: "~/apps/job_post"
          strip_components: 0

      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@v0.1.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.SSH_KEY }}
          envs: APP_ENVIRONMENT
          script: |
            cd ~/apps/job_post
            echo "Stopping job_post container..."
            docker-compose stop job_post
            echo "Removing job_post container..."
            docker-compose rm -f job_post
            echo "Building job_post container..."
            docker-compose build job_post
            echo "Starting job_post container..."
            docker-compose up -d job_post

